<div class="sidebar">
  <h3 class="fw-bold">My Dashboard</h3>

  <div class="menu-title">MAIN</div>
  <a href="#"><i class="fa-solid fa-table-columns me-2"></i> Overview</a>
  <a href="#"><i class="fa-solid fa-user-group me-2"></i> Audience</a>
  <a href="#"><i class="fa-solid fa-chart-line me-2"></i> Engagement</a>
  <a href="#"><i class="fa-solid fa-gear me-2"></i> Settings</a>
</div>
