<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-container">
    <h2>로그인</h2>
    <form id="loginForm">
        <input type="text" id="username" placeholder="아이디" required>
        <input type="password" id="password" placeholder="비밀번호" required>
        <button type="submit" style="background-color: #001f3f; color: white;">로그인</button>
    </form>
    <p id="message"></p>
</div>

<script>
    document.getElementById('loginForm').addEventListener('submit', async function(e) {
        e.preventDefault();

        const email = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const message = document.getElementById('message');

        try {
            const response = await fetch("/api/admin/login", {
                method: "POST",
                credentials: "include",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ email, password })
            });

            const data = await response.json();

            if(data.success) {
                //message.style.color = "green";
                //message.textContent = data.message;
                // 로그인 성공 후 리다이렉트 가능
                window.location.href = "/admin/dashboard";
            } else {
                message.style.color = "red";
                message.textContent = data.message;
            }

        } catch (err) {
            message.style.color = "red";
            message.textContent = "서버 오류 발생";
        }
    });

</script>
</body>
</html>
